<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MuseoConnect - About us</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a class="navbar-brand text-brand" href="/">Museo<span class="color-b">Connect</span></a>

      <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link " href="/">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active " href="/aboutUs">About us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="/donation">Donation</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="/signUp">Sign up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav><!-- End Header/Navbar -->

  <main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">About Museo<span class="color-b">Connect</span></h1>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  About
                </li>
              </ol>
            </nav>
          </div>
          <br><br><br><br><br><br>
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Goals and Features</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="card-box-c foo">
                <div class="card-header-c d-flex">
                  <div class="card-box-ico">
                  </div>
                  <div class="card-title-c align-self-center">
                    <h2 class="title-c">1</h2>
                  </div>
                </div>
                <div class="card-body-c">
                  <p class="content-c">
                    Maximize the visitors experience of Museo De La Salle and provide an easy-to-use reservation system
                    for Museo De La Salle.
                  </p>
                  <p>Flexible booking: Choose from a variety of available time slots and dates that suit your schedule
                    best.</p>
                  <p>Skip-the-line access: Say goodbye to long queues and enjoy priority entry to the museum of your
                    choice.</p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card-box-c foo">
                <div class="card-header-c d-flex">
                  <div class="card-box-ico">
                  </div>
                  <div class="card-title-c align-self-center">
                    <h2 class="title-c">2</h2>
                  </div>
                </div>
                <div class="card-body-c">
                  <p class="content-c">
                    Bridge the gap between museum enthusiasts and the world of art, history, and culture.
                  </p>
                  <p>Easy-to-use interface: Navigate through our 3D artifacts and Museum Virtual Tour with ease and make
                    reservations in just a few clicks.</p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card-box-c foo">
                <div class="card-header-c d-flex">
                  <div class="card-box-ico">
                  </div>
                  <div class="card-title-c align-self-center">
                    <h2 class="title-c">3</h2>
                  </div>
                </div>
                <div class="card-body-c">
                  <p class="content-c">
                    Optional Donation Feature: If you're passionate about supporting the museum, we offer an easy way to
                    contribute. Simply scan the QR code provided and make a voluntary donation to help us continue
                    preserving art, history, and culture for generations to come.
                  </p>
                </div>
              </div>
            </div>
          </div>
    </section>

    <!-- =======Team Section ======= -->
    <section class="section-agents section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Meet Our Team</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card-box-d">
              <div class="card-img-d">
                <img src="/images/Sheed.jpg" alt="" class="img-d img-fluid">
              </div>
              <div class="card-overlay card-overlay-hover">
                <div class="card-header-d">
                  <div class="card-title-d align-self-center">
                    <h3 class="title-d"> Rasheed P. Taban
                    </h3>
                  </div>
                </div>
                <div class="card-body-d">
                  <p class="content-d color-text-a">
                    Web Developer
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-d">
              <div class="card-img-d">
                <img src="/images/Ferg.jpg" alt="" class="img-d img-fluid">
              </div>
              <div class="card-overlay card-overlay-hover">
                <div class="card-header-d">
                  <div class="card-title-d align-self-center">
                    <h3 class="title-d"> Fergus Miles A. Ampuan
                    </h3>
                  </div>
                </div>
                <div class="card-body-d">
                  <p class="content-d color-text-a">
                    Web Developer
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-d">
              <div class="card-img-d">
                <img src="/images/Weng.jpg" alt="" class="img-d img-fluid">
              </div>
              <div class="card-overlay card-overlay-hover">
                <div class="card-header-d">
                  <div class="card-title-d align-self-center">
                    <h3 class="title-d">
                      Lemuel L. Palgan
                    </h3>
                  </div>
                </div>
                <div class="card-body-d">
                  <p class="content-d color-text-a">
                    Web Developer
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section-->
    <br><br><br>

  </main><!-- End #main -->

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="copyright-footer">
            <p class="copyright color-text-a">
              <span class="color-a"> © All Rights Reserved 2023, Fergus Ampuan, Rasheed Taban, Lemuel Palgan
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="/js/index.js"></script>

</body>

</html>