.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 80%;
    z-index: 20;
}

.image-text h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: #ffffff;
    font-size: 42px;
    text-transform: capitalize;
}

.image-text p {
    color: #ffffff;
    font-size: 18px;
}

.image-text h2,
.image-text p {
    margin: 0;
}

.card-registration .cardbg {
    position: relative;
    left: 25px;
    top: -25px;
    bottom: -25px;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 105%;
    border-radius: 6px;
    -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card img{
  height: 100%;
  width: 100%;
}

.card-registration .cardbg::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(73, 133, 78, 0.78);
}

.card-registration .form-control {
background: linear-gradient(to right, rgb(188, 226, 188), rgb(255, 255, 255)) ;
height: 45px;
padding: 0px 15px;
color: #151515;
border: 1px solid #e5e5e5;
font-size: 16px;
font-weight: 700;
-webkit-box-shadow: none;
box-shadow: none;
border-radius: 40px;
-webkit-transition: 0.2s all;
transition: 0.2s all;
}


.gradient-custom-3 {
    background: #84fab0;
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(48, 139, 20, 0.5));
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(44, 83, 34, 0.5))
}


.gradient-custom-4 {
    background: #84fab0;
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgb(14, 109, 10));
    background: linear-gradient(to right, rgb(50, 170, 94), rgb(151, 244, 143))
}

.gradient-custom-5 {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(210, 236, 207))
}

body {
    background: linear-gradient(to right, rgb(179, 211, 178), rgb(255, 255, 255))
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.navbar {
    background-color: #6c9249 !important;
}


.nav-link {
    color: #f7f8f2 !important;
    font-size: 16px !important;
}

.navbar-brand {
    color: #f7f8f2 !important;
    font-size: 32px !important;
}

.logo {
    width: 50px;
    height: 50px;
}

footer {
    background-color: #6c9249 !important;
    color: #f7f8f2;
}