.gradient-custom-3 {
    background: #84fab0;
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(48, 139, 20, 0.5));
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(44, 83, 34, 0.5))
}

.gradient-custom-4 {
    background: #84fab0;
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgb(14, 109, 10));
    background: linear-gradient(to right, rgb(50, 170, 94), rgb(151, 244, 143))
}

.gradient-custom-5
{
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(210, 236, 207))
}

body {
    background-image: url("https://cdn.myportfolio.com/d17fb6f6-d442-4fdb-9a53-405350f5f5a6/36038c22-41c8-4891-9589-5086a5aea89d_rw_3840.jpg?h=7af02f44c84fbf8c76be468da171603f");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.navbar{
    background-color: #6c9249 !important;
}


.nav-link{
    color:#f7f8f2 ;
    font-size:16px  !important;
}

.navbar-brand{
    color:#f7f8f2 !important;
    font-size:32px  !important;
}

.logo{
    width: 50px;
    height: 50px;
}

footer{
    background-color: #6c9249 !important;
    color:#f7f8f2;
}