<html lang="en">

<head>
  <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Figtree&amp;display=swap" rel="stylesheet"> -->

  <style>

  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us - MuseoConnect</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/aboutUs.css">
</head>

<body class="body">
  <div class="header-image">
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg fixed-top nav-underline">
      <div class="container-fluid">
        <a class="navbar-brand" href="/loggedIn/Index">
          <img src="https://www.dlsud.edu.ph/images/about-logo.png" alt="dlsud-logo" class="logo">
          MuseoConnect </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto py-1">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/loggedIn/index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/loggedIn/aboutUs">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/loggedIn/donation">Donation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/loggedIn/artifacts">Artifacts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/loggedIn/virtualTour">Virtual Tour</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/loggedIn/games">Games</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/loggedIn/reservation">Reservation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/loggedIn/evaluation">Evaluation</a>
            </li>
            <li class="nav-item dropdown">
              <button class="btn btn-success btn-sm mt-1 dropdown-toggle" type="button" data-bs-toggle="dropdown"
                data-bs-auto-close="true" aria-expanded="false">
                Account Settings
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="/loggedIn/accountInformation">Account Information</a></li>
                <li><a class="dropdown-item" href="/logout">Log Out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>


  <section class="about-us-section">
    <div class="container">
      <div class="about-us-content">
        <h1 class="about-us-heading">About Us</h1>
        <p class="about-us-description">Welcome to MuseoConnect, your one-stop destination for hassle-free museum
          reservations!
          At MuseoConnect, we understand the value of time and the importance of making the most out of your museum
          visits.
          Our user-friendly reservation system allows you to effortlessly plan your trip and secure your spot at your
          favorite museums,
          ensuring an enriching experience.</p>
      </div>
    </div>
  </section><br>

  <div class="line-divider"></div><br>

  <section class="goals-features-section">
    <div class="container">
      <div class="card">
        <h2>Goals and Key Features</h2>
        <div class="goals-features-content">
          <!-- Goals -->
          <div class="goals">
            <h3>Goals</h3>
            <ul>
              <li>Maximize the visitors’ experience of Museo De La Salle</li>
              <li>Provide an easy-to-use reservation system for Museo De La Salle</li>
              <li>Bridge the gap between museum enthusiasts and the world of art, history, and culture</li>
            </ul>
          </div>
          <!-- Key Features -->
          <div class="features">
            <h3>Features</h3>
            <ul>
              <li>Easy-to-use interface: Navigate through our intuitive platform with ease and make reservations in just
                a few clicks.</li>
              <li>Flexible booking: Choose from a variety of available time slots and dates that suit your schedule
                best.</li>
              <li>Skip-the-line access: Say goodbye to long queues and enjoy priority entry to the museum of your
                choice.</li>
              <li>Secure payments: Rest assured that your transactions are safe and protected at all times.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section><br><br>

  <div class="line-dividerr"></div><br>

  <!-- WEB DEVELOPERS SECTION -->
  <section class="meet-team-section">
    <div class="container">
      <h2>Meet Our Team</h2>
      <div class="row justify-content-center developer">
        <div class="col-md-4">
          <img src="/images/Weng.jpg" alt="Developer 1" class="developer-img">
          <div class="developer-info">
            <h3>Lemuel L. Palgan</h3>
            <p>Web Developer</p>
          </div>
        </div>
        <div class="col-md-4">
          <img src="/images/Ferg.jpg" alt="Developer 2" class="developer-img">
          <div class="developer-info">
            <h3>Fergus Miles A. Ampuan</h3>
            <p>Web Developer</p>
          </div>
        </div>
        <div class="col-md-4">
          <img src="/images/Sheed.png" alt="Developer 3" class="developer-img">
          <div class="developer-info">
            <h3>Rasheed P. Taban</h3>
            <p>Web Developer</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <footer class="pt-2">
    <div class="container-fluid py-2 text-center">
      <p> © All Rights Reserved 2023, Fergus Ampuan, Rasheed Taban, Lemuel Palgan</p>
      <% if (user && user.name) { %>
        <p hidden>Welcome, <%= user.name %>
        </p>
        <% } else { %>
          <p hidden>User is not logged in</p>
          <script>
            // Redirect to the logout route when user.name is empty
            window.location.href = "/logout";
          </script>
          <% } %>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <script>
    let inactivityTimeout;
    // Function to reset the inactivity timer
    function resetInactivityTimeout() {
      clearTimeout(inactivityTimeout);
      inactivityTimeout = setTimeout(() => {
        // Send a request to the server to reset the session timeout
        fetch("/reset-inactivity").then((response) => {
          if (response.ok) {
            console.log("Inactivity timer reset.");
            // Redirect to the logout route after 1 minute of inactivity
            window.location.href = "/logout";
          }
        });
      }, 300000); // 300,000 milliseconds = 5 minutes
    }
    // Listen for user interactions
    window.addEventListener("mousemove", resetInactivityTimeout);
    window.addEventListener("keydown", resetInactivityTimeout);
    // Initial reset
    resetInactivityTimeout(); 
  </script>

</body>

</html>