<!DOCTYPE html>

<html lang="en">

 

<head>

  <style>

    /* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); */

  </style>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Artifacts - MuseoConnect</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"

    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/artifact.css">

 

</head>

 

<body>

  <!-- NAVBAR -->

  <nav class="navbar navbar-expand-lg fixed-top nav-underline">

    <div class="container-fluid">

      <a class="navbar-brand" href="/loggedIn/Index">

        <img src="https://www.dlsud.edu.ph/images/about-logo.png" alt="dlsud-logo" class="logo">

        MuseoConnect </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"

        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>

      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ms-auto py-1">

          <li class="nav-item">

            <a class="nav-link " aria-current="page" href="/loggedIn/index">Home</a>

          </li>

          <li class="nav-item">

            <a class="nav-link" href="/loggedIn/aboutUs">About Us</a>

          </li>

          <li class="nav-item">

            <a class="nav-link" href="/loggedIn/donation">Donation</a>

          </li>

          <li class="nav-item">

            <a class="nav-link active" href="/loggedIn/artifacts">Artifacts</a>

          </li>

          <li class="nav-item">

            <a class="nav-link" href="/loggedIn/virtualTour">Virtual Tour</a>

          </li>

          <li class="nav-item">

            <a class="nav-link" href="/loggedIn/games">Games</a>

          </li>

          <li class="nav-item">

            <a class="nav-link" href="/loggedIn/reservation">Reservation</a>

          </li>

          <li class="nav-item">

            <a class="nav-link" href="/loggedIn/evaluation">Evaluation</a>

          </li>

          <li class="nav-item dropdown">

            <button class="btn btn-success btn-sm mt-1 dropdown-toggle" type="button" data-bs-toggle="dropdown"

              data-bs-auto-close="true" aria-expanded="false">

              Account Settings

            </button>

            <ul class="dropdown-menu dropdown-menu-end">

              <li><a class="dropdown-item" href="/loggedIn/accountInformation">Account Information</a></li>

              <li><a class="dropdown-item" href="/logout">Log Out</a></li>

            </ul>

          </li>

        </ul>

      </div>

    </div>

  </nav>

  </div>

 

 

  <br>

  <br>

  <br>

 

 

 

  <!-- Card Section -->

  <!-- ROW 1 -->

  <h1 class="text-center my-5"> ARTIFACTS</h1>

  <div class="container-fluid py-3">

    <div class="row gx-5 my-5">

      <div class="col-12 col-md-4">

        <div class="card">

          <img src="/images/FrogTrap.JPG" class="card-img-top" alt="...">

          <div class="card-body text-center">

            <h5 class="card-title text-center">Frog Trap</h5>

            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquam finibus

              neque, id vestibulum magna cursus quis. Integer dictum ultricies dolor, eu tincidunt lorem pharetra at.

              Maecenas et justo velit. Vivamus interdum at est vitae malesuada. Praesent vitae nisl sed turpis fermentum

              pellentesque. Cras commodo dolor eu leo ultrices semper. Aenean id diam id urna consequat aliquet ac ac

              erat. Aliquam a arcu eu est placerat congue. Nulla porttitor tellus non efficitur ornare.</p>

            <!-- Button trigger modal -->

            <button type="button" class="btn btn-primary  " data-bs-toggle="modal" data-bs-target="#frogModal">

              VIEW 3D MODEL

            </button>

 

            <!-- Modal -->

            <div class="modal fade" id="frogModal" tabindex="-1" aria-labelledby="frogModalLabel" aria-hidden="true">

              <div class="modal-dialog modal-lg">

                <div class="modal-content">

                  <div class="modal-header">

                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                  </div>

                  <div class="modal-body">

                    <div class="sketchfab-embed-wrapper"> <iframe title="metascan_20231019-0957_obj" frameborder="0"

                        allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true"

                        allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking

                        execution-while-out-of-viewport execution-while-not-rendered web-share

                        src="https://sketchfab.com/models/466a5645c2b34127aa5f98f63056cc25/embed?autospin=1&autostart=1&preload=1">

                      </iframe>

                      <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;"> <a

                          href="https://sketchfab.com/3d-models/metascan-20231019-0957-obj-466a5645c2b34127aa5f98f63056cc25?utm_medium=embed&utm_campaign=share-popup&utm_content=466a5645c2b34127aa5f98f63056cc25"

                          target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;">

                          metascan_20231019-0957_obj </a> by <a

                          href="https://sketchfab.com/fergus.ampuan?utm_medium=embed&utm_campaign=share-popup&utm_content=466a5645c2b34127aa5f98f63056cc25"

                          target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;"> NotFerg </a> on <a

                          href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=466a5645c2b34127aa5f98f63056cc25"

                          target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a></p>

                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

 

      <div class="col-12 col-md-4">

        <div class="card">

          <img src="/images/Iron.JPG" class="card-img-top" alt="...">

          <div class="card-body text-center">

            <h5 class="card-title text-center">Iron</h5>

            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquam finibus

              neque, id vestibulum magna cursus quis. Integer dictum ultricies dolor, eu tincidunt lorem pharetra at.

              Maecenas et justo velit. Vivamus interdum at est vitae malesuada. Praesent vitae nisl sed turpis fermentum

              pellentesque. Cras commodo dolor eu leo ultrices semper. Aenean id diam id urna consequat aliquet ac ac

              erat. Aliquam a arcu eu est placerat congue. Nulla porttitor tellus non efficitur ornare.</p>

            <!-- Button trigger modal -->

            <button type="button" class="btn btn-primary  " data-bs-toggle="modal" data-bs-target="#ironModal">

              VIEW 3D MODEL

            </button>

 

            <!-- Modal -->

            <div class="modal fade" id="ironModal" tabindex="-1" aria-labelledby="ironModalLabel" aria-hidden="true">

              <div class="modal-dialog modal-lg">

                <div class="modal-content">

                  <div class="modal-header">

                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                  </div>

                  <div class="modal-body">

                    <div class="sketchfab-embed-wrapper"> <iframe title="Metascan_20231019-1358.obj" frameborder="0"

                        allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true"

                        allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking

                        execution-while-out-of-viewport execution-while-not-rendered web-share

                        src="https://sketchfab.com/models/5bdd8f66d9984e05a17ca11772492ebf/embed?autospin=1&autostart=1&preload=1">

                      </iframe>

                      <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;"> <a

                          href="https://sketchfab.com/3d-models/metascan-20231019-1358obj-5bdd8f66d9984e05a17ca11772492ebf?utm_medium=embed&utm_campaign=share-popup&utm_content=5bdd8f66d9984e05a17ca11772492ebf"

                          target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;">

                          Metascan_20231019-1358.obj </a> by <a

                          href="https://sketchfab.com/fergus.ampuan?utm_medium=embed&utm_campaign=share-popup&utm_content=5bdd8f66d9984e05a17ca11772492ebf"

                          target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;"> NotFerg </a> on <a

                          href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=5bdd8f66d9984e05a17ca11772492ebf"

                          target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a></p>

                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

 

      <div class="col-12 col-md-4">

        <div class="card">

          <img src="/images/MortarAndPestle.JPG" class="card-img-top" alt="...">

          <div class="card-body text-center">

            <h5 class="card-title text-center">Mortar and Pestle</h5>

            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquam finibus

              neque, id vestibulum magna cursus quis. Integer dictum ultricies dolor, eu tincidunt lorem pharetra at.

              Maecenas et justo velit. Vivamus interdum at est vitae malesuada. Praesent vitae nisl sed turpis fermentum

              pellentesque. Cras commodo dolor eu leo ultrices semper. Aenean id diam id urna consequat aliquet ac ac

              erat. Aliquam a arcu eu est placerat congue. Nulla porttitor tellus non efficitur ornare. </p>

            <!-- Button trigger modal -->

            <button type="button" class="btn btn-primary  " data-bs-toggle="modal" data-bs-target="#mortarModal">

              VIEW 3D MODEL

            </button>

 

            <!-- Modal -->

            <div class="modal fade" id="mortarModal" tabindex="-1" aria-labelledby="mortarModalLabel"

              aria-hidden="true">

              <div class="modal-dialog modal-lg">

                <div class="modal-content">

                  <div class="modal-header">

                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                  </div>

                  <div class="modal-body">

                    <div class="sketchfab-embed-wrapper"> <iframe title="Metascan_20231019-1407.obj" frameborder="0"

                        allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true"

                        allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking

                        execution-while-out-of-viewport execution-while-not-rendered web-share

                        src="https://sketchfab.com/models/d47f22334e8b4ef6b99dd2a8b59d85d4/embed?autospin=1&autostart=1&preload=1">

                      </iframe>

                      <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;"> <a

                          href="https://sketchfab.com/3d-models/metascan-20231019-1407obj-d47f22334e8b4ef6b99dd2a8b59d85d4?utm_medium=embed&utm_campaign=share-popup&utm_content=d47f22334e8b4ef6b99dd2a8b59d85d4"

                          target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;">

                          Metascan_20231019-1407.obj </a> by <a

                          href="https://sketchfab.com/fergus.ampuan?utm_medium=embed&utm_campaign=share-popup&utm_content=d47f22334e8b4ef6b99dd2a8b59d85d4"

                          target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;"> NotFerg </a> on <a

                          href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=d47f22334e8b4ef6b99dd2a8b59d85d4"

                          target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a></p>

                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

 

    </div>

 

    <!-- ROW 2 -->

    <div class="row gx-5 my-5">

      <div class="col-12 col-md-4">

        <div class="card">

          <img src="/images/Niog.JPG" class="card-img-top" alt="...">

          <div class="card-body text-center">

            <h5 class="card-title text-center">Pangkayod ng Niog</h5>

            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquam finibus

              neque, id vestibulum magna cursus quis. Integer dictum ultricies dolor, eu tincidunt lorem pharetra at.

              Maecenas et justo velit. Vivamus interdum at est vitae malesuada. Praesent vitae nisl sed turpis fermentum

              pellentesque. Cras commodo dolor eu leo ultrices semper. Aenean id diam id urna consequat aliquet ac ac

              erat. Aliquam a arcu eu est placerat congue. Nulla porttitor tellus non efficitur ornare.</p>

            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->

          </div>

        </div>

      </div>

 

      <div class="col-12 col-md-4">

        <div class="card">

          <img src="/images/Lamp.JPG" class="card-img-top" alt="...">

          <div class="card-body text-center">

            <h5 class="card-title text-center">Lamp</h5>

            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquam finibus

              neque, id vestibulum magna cursus quis. Integer dictum ultricies dolor, eu tincidunt lorem pharetra at.

              Maecenas et justo velit. Vivamus interdum at est vitae malesuada. Praesent vitae nisl sed turpis fermentum

              pellentesque. Cras commodo dolor eu leo ultrices semper. Aenean id diam id urna consequat aliquet ac ac

              erat. Aliquam a arcu eu est placerat congue. Nulla porttitor tellus non efficitur ornare.</p>

            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->

          </div>

        </div>

      </div>

 

      <div class="col-12 col-md-4">

        <div class="card">

          <img src="/images/Shrine.JPG" class="card-img-top" alt="...">

          <div class="card-body text-center">

            <h5 class="card-title text-center">Shrine</h5>

            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquam finibus

              neque, id vestibulum magna cursus quis. Integer dictum ultricies dolor, eu tincidunt lorem pharetra at.

              Maecenas et justo velit. Vivamus interdum at est vitae malesuada. Praesent vitae nisl sed turpis fermentum

              pellentesque. Cras commodo dolor eu leo ultrices semper. Aenean id diam id urna consequat aliquet ac ac

              erat. Aliquam a arcu eu est placerat congue. Nulla porttitor tellus non efficitur ornare. </p>

            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->

          </div>

        </div>

      </div>

 

    </div>

 

    <!-- ROW 3 -->

    <div class="row gx-5 my-5">

      <div class="col-12 col-md-4">

        <div class="card">

          <img src="/images/Salakot.png" class="card-img-top zoom-out" alt="...">

          <div class="card-body text-center">

            <h5 class="card-title text-center">Salakot</h5>

            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquam finibus

              neque, id vestibulum magna cursus quis. Integer dictum ultricies dolor, eu tincidunt lorem pharetra at.

              Maecenas et justo velit. Vivamus interdum at est vitae malesuada. Praesent vitae nisl sed turpis fermentum

              pellentesque. Cras commodo dolor eu leo ultrices semper. Aenean id diam id urna consequat aliquet ac ac

              erat. Aliquam a arcu eu est placerat congue. Nulla porttitor tellus non efficitur ornare.</p>

            <!-- Button trigger modal -->

            <button type="button" class="btn btn-primary  " data-bs-toggle="modal" data-bs-target="#salakotModal">

              VIEW 3D MODEL

            </button>

 

            <!-- Modal -->

            <div class="modal fade" id="salakotModal" tabindex="-1" aria-labelledby="salakotModalLabel"

              aria-hidden="true">

              <div class="modal-dialog modal-lg">

                <div class="modal-content">

                  <div class="modal-header">

                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                  </div>

                  <div class="modal-body">

                    <div class="sketchfab-embed-wrapper"> <iframe title="Metascan_20231019-1139.obj" frameborder="0"

                        allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true"

                        allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking

                        execution-while-out-of-viewport execution-while-not-rendered web-share

                        src="https://sketchfab.com/models/7b76d447328d4735a850dcd9b4979aa2/embed?autospin=1&autostart=1&preload=1">

                      </iframe>

                      <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;"> <a

                          href="https://sketchfab.com/3d-models/metascan-20231019-1139obj-7b76d447328d4735a850dcd9b4979aa2?utm_medium=embed&utm_campaign=share-popup&utm_content=7b76d447328d4735a850dcd9b4979aa2"

                          target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;">

                          Metascan_20231019-1139.obj </a> by <a

                          href="https://sketchfab.com/fergus.ampuan?utm_medium=embed&utm_campaign=share-popup&utm_content=7b76d447328d4735a850dcd9b4979aa2"

                          target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;"> NotFerg </a> on <a

                          href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=7b76d447328d4735a850dcd9b4979aa2"

                          target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a></p>

                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

 

      <div class="col-12 col-md-4">

        <div class="card">

          <img src="/images/BigVase.png" class="card-img-top " alt="...">

          <div class="card-body text-center">

            <h5 class="card-title text-center">BigVase</h5>

            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquam finibus

              neque, id vestibulum magna cursus quis. Integer dictum ultricies dolor, eu tincidunt lorem pharetra at.

              Maecenas et justo velit. Vivamus interdum at est vitae malesuada. Praesent vitae nisl sed turpis fermentum

              pellentesque. Cras commodo dolor eu leo ultrices semper. Aenean id diam id urna consequat aliquet ac ac

              erat. Aliquam a arcu eu est placerat congue. Nulla porttitor tellus non efficitur ornare.</p>

            <!-- Button trigger modal -->

            <button type="button" class="btn btn-primary  " data-bs-toggle="modal" data-bs-target="#bigVModal">

              VIEW 3D MODEL

            </button>

 

            <!-- Modal -->

            <div class="modal fade" id="bigVModal" tabindex="-1" aria-labelledby="bigVModalLabel" aria-hidden="true">

              <div class="modal-dialog modal-lg">

                <div class="modal-content">

                  <div class="modal-header">

                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                  </div>

                  <div class="modal-body">

                    <div class="sketchfab-embed-wrapper"> <iframe title="Metascan_20231019-1147.obj" frameborder="0"

                        allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true"

                        allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking

                        execution-while-out-of-viewport execution-while-not-rendered web-share

                        src="https://sketchfab.com/models/770b942102274800bc556dc56fcb8349/embed?autospin=1&autostart=1&preload=1">

                      </iframe>

                      <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;"> <a

                          href="https://sketchfab.com/3d-models/metascan-20231019-1147obj-770b942102274800bc556dc56fcb8349?utm_medium=embed&utm_campaign=share-popup&utm_content=770b942102274800bc556dc56fcb8349"

                          target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;">

                          Metascan_20231019-1147.obj </a> by <a

                          href="https://sketchfab.com/fergus.ampuan?utm_medium=embed&utm_campaign=share-popup&utm_content=770b942102274800bc556dc56fcb8349"

                          target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;"> NotFerg </a> on <a

                          href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=770b942102274800bc556dc56fcb8349"

                          target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a></p>

                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

 

      <div class="col-12 col-md-4">

        <div class="card">

          <img src="/images/TallVase.png" class="card-img-top " alt="...">

          <div class="card-body text-center">

            <h5 class="card-title text-center">TallVase</h5>

            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquam finibus

              neque, id vestibulum magna cursus quis. Integer dictum ultricies dolor, eu tincidunt lorem pharetra at.

              Maecenas et justo velit. Vivamus interdum at est vitae malesuada. Praesent vitae nisl sed turpis fermentum

              pellentesque. Cras commodo dolor eu leo ultrices semper. Aenean id diam id urna consequat aliquet ac ac

              erat. Aliquam a arcu eu est placerat congue. Nulla porttitor tellus non efficitur ornare. </p>

            <button type="button" class="btn btn-primary  " data-bs-toggle="modal" data-bs-target="#tallVModal">

              VIEW 3D MODEL

            </button>

 

            <!-- Modal -->

            <div class="modal fade" id="tallVModal" tabindex="-1" aria-labelledby="tallVModalLabel" aria-hidden="true">

              <div class="modal-dialog modal-lg">

                <div class="modal-content">

                  <div class="modal-header">

                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                  </div>

                  <div class="modal-body">

                    <div class="sketchfab-embed-wrapper"> <iframe title="Metascan_20231019-1152.obj" frameborder="0"

                        allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true"

                        allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking

                        execution-while-out-of-viewport execution-while-not-rendered web-share

                        src="https://sketchfab.com/models/020cd805756744f0a4cd1426bda3e392/embed?autospin=1&autostart=1&preload=1">

                      </iframe>

                      <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;"> <a

                          href="https://sketchfab.com/3d-models/metascan-20231019-1152obj-020cd805756744f0a4cd1426bda3e392?utm_medium=embed&utm_campaign=share-popup&utm_content=020cd805756744f0a4cd1426bda3e392"

                          target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;">

                          Metascan_20231019-1152.obj </a> by <a

                          href="https://sketchfab.com/fergus.ampuan?utm_medium=embed&utm_campaign=share-popup&utm_content=020cd805756744f0a4cd1426bda3e392"

                          target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;"> NotFerg </a> on <a

                          href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=020cd805756744f0a4cd1426bda3e392"

                          target="_blank" rel="nofollow" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a></p>

                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

 

    </div>

 

  </div>

 

 

  <!-- FOOTER -->

  <footer class="pt-2">

    <div class="container-fluid py-2 text-center">

      <p> © All Rights Reserved 2023, Fergus Ampuan, Rasheed Taban, Lemuel Palgan</p>

      <% if (user && user.name) { %>

        <p hidden>Welcome, <%= user.name %>

        </p>

        <% } else { %>

          <p hidden>User is not logged in</p>

          <script>

            // Redirect to the logout route when user.name is empty

            window.location.href = "/logout";

          </script>

          <% } %>

    </div>

  </footer>

 

</body>

 

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"

  integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

<script>

 

  let inactivityTimeout;

  // Function to reset the inactivity timer

  function resetInactivityTimeout() {

    clearTimeout(inactivityTimeout);

    inactivityTimeout = setTimeout(() => {

      // Send a request to the server to reset the session timeout

      fetch("/reset-inactivity").then((response) => {

        if (response.ok) {

          console.log("Inactivity timer reset.");

          // Redirect to the logout route after 1 minute of inactivity

          window.location.href = "/logout";

        }

      });

    }, 300000); // 300,000 milliseconds = 5 minutes

  }

  // Listen for user interactions

  window.addEventListener("mousemove", resetInactivityTimeout);

  window.addEventListener("keydown", resetInactivityTimeout);

  // Initial reset

  resetInactivityTimeout();

</script>

 

</body>

 

</html>